/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: Arial, Helvetica, sans-serif;
    --grey: #5D7284;
    --white: #fff;
    --black: #000;
    --azure: #0084FD;
    --uranian-blue: #B5DDFF;
    --indigo: #9792E4;
    --golden: #FDC15F;
    --charcoal: #333333;
}

body {
    font-family: var(--font-family);
}

/* BODY SECTIONS */
header {
    color: var(--white);
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
}

main {
    padding: 100px 0;
}

footer {
    /* To remove later */
    background-color: pink;
}

/* UTILITIES */
.float-right {
    float: right;
}

.flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.j-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.d-none {
    display: none;
}

img {
    width: 100%;
}

.relative {
    position: relative;
}

.mb-0 {
    margin-bottom: 0 !important;
}
/* To remove later? */
.absolute {
    position: absolute;
}

/* To remove later */
.text-center {
    text-align: center;
}

/* LAYOUT CLASSES */
.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    /* To remove later */
    padding: 10px 30px;
}

.col-100 {
    width: 100%;
}

.content {
    border-radius: 20px;
    /* To remove later */
    border: 1px solid black;
    margin-bottom: 20px
}
/* STYLES */
/* Bg area */
.bg-azure {
    background-color: var(--azure);
}

.bg-uranianblue {
    background-color: var(--uranian-blue);
}

/* to delete later */
.background {
    /* To remove later */
    background-color: rgb(123, 192, 121);
}

.logo-size {
    width: 60px;
}

.list-style-none {
    list-style-type: none;
}

.header-col {
    display: flex;
    align-items: center;
}

header li {
    margin: 10px;
    font-size: 15px;
}

header li a {
    text-decoration: none;
}

button {
    border-radius: 30px;
    padding: 10px;
}

.button--primary {
    font-size: 15px;
    margin: 0px 10px
}



.card-text {
    gap: 20px;
    margin: 20px;
}

.card-text h4 {
    color: var(--azure);
    /* padding-bottom: 20px; */
}

.card-text p {
    color: var(--grey);
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
}

.button--secondary {
    color: var(--white);
    align-self: flex-start;
    letter-spacing: 3px;
    font-weight: 600;
    border: none;
}

.button--secondary i {
    margin-right: 5px;
}

.phone-img {
    max-width: 200px;
    align-self: center;
}

.card-text i {
    color: var(--azure);
    font-size: 60px;
}