/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: Arial, Helvetica, sans-serif;
    --grey: #5D7284;
    --white: #fff;
    --black: #000;
    --azure: #0084FD;
    --uranian-blue: #B5DDFF;
    --indigo: #9792E4;
    --golden: #FDC15F;
    --charcoal: #333333;
}

body {
    font-family: var(--font-family);
}

/* BODY SECTIONS */
header {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
    /* To remove later */
    background-color: rgb(123, 192, 121);
}

main {
    padding: 100px 30px 0 30px;
}

footer {
    /* To remove later */
    border: 1px solid black;
    background-color: pink;
}

/* UTILITIES */
.float-right {
    float: right;
}

.flex {
    display: flex;
}

.j-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.d-none {
    display: none;
}

/* LAYOUT CLASSES */
.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    /* To replace later */
    margin-bottom: 10px;
}

.col-100 {
    width: 100%;
}

.content-header {
    height: 60px;
}

.content {    
    /* To remove later */
    background-color: rgb(110, 110, 217);
    height: 200px;
    border: 1px solid black;
}
/* STYLES */

/* to delete later */
.background {
    /* To remove later */
    background-color: rgb(123, 192, 121);
}

.list-style-none {
    list-style-type: none;
}

header li {
    margin: 10px;
    font-size: 15px;
}

header li a {
    text-decoration: none;
}

button {
    border-radius: 30px;
    padding: 10px;
}

.button--primary {
    font-size: 15px;
    margin: 0px 10px
}