/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: Arial, Helvetica, sans-serif;
    --grey: #5D7284;
    --white: #fff;
    --black: #000;
    --azure: #0084FD;
    --uranian-blue: #B5DDFF;
    --indigo: #9792E4;
    --golden: #FDC15F;
    --charcoal: #333333;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    cursor: default;
}

/* BODY SECTIONS */
header {
    color: var(--white);
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
}

main {
    padding: 100px 0 0 0;
}

/* LAYOUT CLASSES */
.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    padding: 30px 40px;
}

.col-100 {
    width: 100%;
}

.content {
    border-radius: 20px;
    margin-bottom: 20px;
}

/* STYLES */
/* Bg area */
.bg-azure {
    background-color: var(--azure);
}

.bg-uranianblue {
    background-color: var(--uranian-blue);
}

.bg-indigo {
    background-color: var(--indigo);
}

.bg-white {
    background-color: var(--white);
}

.bg-charcoal {
    background-color: var(--charcoal);
}

/* Other styles: */
/* Header */
.header-col {
    display: flex;
    align-items: center;
}

.logo-size {
    width: 60px;
    cursor: pointer;
}

.list-style-none {
    list-style-type: none;
}

.mobile-none {
    display: none;
}

.hamburger {
    cursor: pointer;
}

.hamburger:hover {
    color: var(--uranian-blue);
}

.hamburger:active {
    color: var(--white);
}

/* BONUS MOBILE START */
    .dropdown-mobile {
        font-family: var(--font-family);
        font-size: 18px;
        right: -30px;
        z-index: 2;
        margin: 20px 0;
        min-width: 120px;
        font-weight: 600;        
        background-color: var(--uranian-blue);
        border: 1px solid var(--charcoal);
        border-radius: 10px 0 0 10px;
    }

    .dropdown-mobile a {
        text-decoration: none;
        color: var(--charcoal);
    }

    .dropdown-mobile>p {        
        padding: 20px;
        border-top: 1px solid var(--charcoal);
    }

    .dropdown-mobile>p:first-child {
        border: none;
    }

    .hamburger:hover .d-none {
        display: block;
    }
/* BONUS MOBILE END */

header li {
    margin: 10px;
    font-size: 15px;
}

header li a {
    text-decoration: none;
    color: var(--white);
}

header li a:hover {
    text-decoration: underline;
}

/* BONUS DESKTOP START */
.dropdown-desktop {
    z-index: 2;
    min-width: 60px;
    margin: 10px 0;
    color: var(--charcoal);
    background-color: var(--uranian-blue);
    font-weight: 600;
    border: 1px solid var(--charcoal);
    border-radius: 0 0 10px 10px;
}

.dropdown-desktop>p {
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid var(--charcoal);
}

.dropdown-desktop>p:first-child {
    border: none;
}

/* BONUS DESKTOP END */

button {
    border-radius: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.button--primary {
    font-size: 15px;
    margin: 0 10px;    
}

.button--primary:hover {
    background-color: var(--grey);
    color: var(--white);
}

.button--primary:active {
    background-color: var(--white);
    color: var(--black);
}

/* 1st */
.card-text h4 {
    color: var(--azure);
}

.card-text p {
    color: var(--grey);
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
}

.card-text i {
    color: var(--azure);
    font-size: 60px;
}

.card-text:hover {
    box-shadow: 3px 3px var(--indigo);
}

.button--secondary {
    color: var(--white);
    padding: 10px 25px;
    align-self: flex-start;
    letter-spacing: 3px;
    font-weight: 600;    
}

.button--secondary:hover {
    background-color: var(--grey);
    box-shadow: 1px 1px 10px var(--grey)
}

.button--secondary:active {
    background-color: var(--indigo);
}

.button--secondary i {
    margin-right: 5px;
    color: var(--white);
    font-size: 13px;
}

.phone-img {
    max-width: 200px;
    align-self: center;
}

/* 2nd */
.planning-section-top {
    color: var(--white);
}

.planning-section-top img {
    margin-bottom: 70px;
}

.planning-section-top h2 {
    margin-bottom: 50px;
}

.planning-section-top p {
    font-size: 12px;
    line-height: 25px;
}

.planning-section-bottom {
    border-radius: 40px;    
}

.planning-section-bottom:hover {
    box-shadow: 3px 3px var(--golden);
}

.planning-section-bottom img {
    margin-bottom: 20px;
}

.planning-section-bottom h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.planning-section-bottom em {
    margin-bottom: 20px;
}

.button--circle {
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
}

/* 3rd */
.testimonial-text h3, .free-beta h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
    margin: 30px 0;
}

.testimonial-text h2, .free-beta h2 {
    color: var(--indigo);
    font-size: 26px;
    margin-bottom: 30px;
}

.testimonial-text p {
    line-height: 25px;
    margin-bottom: 30px;
}

.object-fit {
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.object-fit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials-section {    
    color: var(--white);
    gap: 20px;
}

.testimonials-section:hover {
    box-shadow: 3px 3px 2px var(--grey);
}

.testimonials-section p, .free-beta p {
    line-height: 25px;
}

.testimonials-section i {
    margin: 0 5px;
}

.testimonials-section h3 {
    text-transform: uppercase;
}

/* 4th */
#benefits>h2 {
    margin: 40px 0;
    color: var(--white);
}

.benefits-section {
    color: var(--indigo);
    gap: 30px;
}

.benefits-section:hover {
    box-shadow: 3px 3px var(--golden);
}

.benefits-section h2 {
    font-size: 40px;
}

.benefits-section h3 {
    font-size: 20px;
}

.benefits-section p {
    line-height: 25px;
}

.button--secondary--px {
    padding: 10px 40px;
}

/* 5th */
#about h2 {
    font-size: 40px;
    color: var(--indigo);
    margin-top: 60px;
    margin-bottom: 20px;
}

#about p {
    line-height: 25px;
    margin-bottom: 30px;
}

#about i.absolute {
    color: var(--indigo);
    font-size: 50px;
    right: 0;
}

#about h3 {
    font-size: 20px;
    color: var(--indigo);
    margin: 20px 0;
}

.button--about {
    color: var(--white);
}

.button--about:hover {
    box-shadow: 1px 1px 10px var(--indigo);
}

.button--about:active {
    background-color: var(--grey);
    box-shadow: 1px 1px 10px var(--grey);
}

.button--about i {
    margin-right: 5px;
}

/* 6th */
.free-beta, .free-beta h2, .free-beta a {
    color: var(--white);
}

.free-beta h3 {
    letter-spacing: 1px;
}

.free-beta h1 {
    font-size: 24px;
}

.free-beta span {
    color: var(--golden);
    font-size: 50px;
    font-weight: 700;
}

.free-beta p {
    font-size: 14px;
    margin: 20px 0;
}

.free-beta i {
    font-size: 5px;
    vertical-align: middle;
}

.button--secondary--color {
    color: var(--indigo);
}

.button--secondary--color:hover {
    background-color: var(--white);
}

.button--secondary--color:active {
    background-color: var(--grey);
    color: var(--white);
}

.button--secondary--p-lg {
    padding: 15px 40px;
}

/* Footer */
footer {
    color: var(--white);
}

footer p:first-of-type {
    margin: 50px 0;
}

footer a {
    color: var(--indigo);
}
